{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" >
            <div class="box-element product">
                

            </div>

        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" >
            <div class="box-element product">

            </div>
        
        </div>

        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}" >
            <div class="box-element product">

            </div>
        </div>
    </div>


<h3>store</h3>

{% endblock content %}